<!-- formulario.hbs -->
<form id="/Tierras" method="post">
    <input type="text" name="titulo" placeholder="Título">
    <textarea name="contenido" placeholder="Contenido"></textarea>
    <button type="submit" class="btn btn-primary">Subir</button>
</form>

<!-- Script que se ejecutará cuando se renderice el componente
<script>
    const aquitoy=window.location.pathname;
    document.write(aquitoy);
    document.addEventListener('DOMContentLoaded', function () {
        const currentPath = window.location.pathname;
        const form = document.getElementById('dynamicForm');
        form.action = currentPath;
    });
</script>
 -->

