
<form id="/home" method="post" enctype="multipart/form-data">
    <input type="text" name="titulo" placeholder="Título">
   <div class="mb-3">
  <label for="formFileMultiple" class="form-label">Multiple files input example</label>
  <input class="form-control" type="file" id="formFileMultiple" name="myFile" multiple>
</div>
    <button type="submit" class="btn btn-primary">Subir</button>
</form>



