
    <h1>hola desde home</h1>
<ul><a href="/auth/tierras">tierras</a></ul>
<ul><a href="/auth/riegos">riegos</a></ul>
<ul><a href="/auth/pesticidas">pesticidas</a></ul>
<ul><a href="/auth/plagas">plagas</a></ul>
<ul><a href="/auth/abonos">abonos</a></ul>
