{{> Navbar}}
<h1>Hola desde home</h1>
<ul>
    <li>
        <a href="/register" class="btn btn-outline-success">Usuario: {{this.username}}</a>
    </li>
</ul>

{{> Forms}}

{{#each publics}}
{{> Cards}}
{{/each}}
