
    <h1>hola desde home</h1>
        
<ul><a href="/tierras">tierras</a></ul>
<ul><a href="/riegos">riegos</a></ul>
<ul><a href="/pesticidas">pesticidas</a></ul>
<ul><a href="/plagas">plagas</a></ul>
<ul><a href="/abonos">abonos</a></ul>
<ul><a href="/login">Login</a></ul>

{{#each tierras }}
    {{> Cards}}
{{/each}}