<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="../css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center" style="background-color: #e8f5e9;">
    <div class="row bg-white rounded shadow-lg" style="max-width: 900px; width: 100%;">
        <!-- Imagen del lado izquierdo -->
        <div class="col-md-6 d-none d-md-block p-0">
            <img src="/imgs/Agricultura.png" alt="Login Image" class="img-fluid h-100 rounded-start" style="object-fit: cover; height: 100%;">

        </div>
        <!-- Formulario del lado derecho -->
        <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
            <h3 class="mb-4 text-center" style="color: #2e7d32;">Bienvenido de nuevo</h3>
            <p class="text-center mb-4">Inicia sesión o <a href="/register">crea tu cuenta</a></p>
            <form action="/login" method="POST">
                <div class="form-group mb-3">
                    <label for="username" class="form-label"><i class="fas fa-user"></i> Usuario</label>
                    <input value="andres" type="text" class="form-control" id="userName" name="userName" autocomplete="given-name" placeholder="Ingresa el usuario" required>
                </div>
                <div class="form-group mb-3">
                    <label for="passwords" class="form-label"><i class="fas fa-lock"></i> Contraseña</label>
                    <input value="123456" type="password" class="form-control" id="password" name="password" placeholder="Ingresa la contraseña" required>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <a href="/auth/reset-password" style="color: #388e3c;">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn text-white" style="background-color: #388e3c;">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
